*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    background: #1b1b1b;
    color: rgb(200,200,200);
    font-family: sans-serif;
}

html,
body {
    margin: auto;
    word-break: break-all;
    // overflow: hidden;
    padding: 0;
}

body {
    padding: 100px;
    // background: rgba(black, .5);
    max-width: 1400px;
}

header {
    background: rgba(white,.1);
    padding: 1rem

}

#result-list {
    list-style: none;
    margin: 0;
    padding: 0;
    > li {
        padding: 0;
        margin: 0;
    }
    .progress-steps {
        font-size: 12px;
        font-family: "Lucida Console", monospace;
    }
}

.result-object {
    list-style: none;
    margin: 5px 0 0 0;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-items: stretch;
    > li {
        padding: .5rem 0;
    }
}

hr {
    width: 100%;
    border-bottom: 2px solid rgba(gray, .3);
}

.item,
.mesh-error,
.item-error {
    width: 100%;
    line-height: 1.2em;
    b {}
    &.original {
        font-size: .85rem;
        opacity: .75;
    }
}

.success {
    background: rgba(green, .33);
    .result-object {
        opacity: .3;
    }
    .mesh-error,
    .item-error {
        display: none;
    }
}
.error {
    background: rgba(red, .33);
    * {
        color: rgba(white, .5)
    }
    i {
        color: white;
        font-style: normal;
        font-weight: 700;
    }
}

